/* :root {
  font-family: Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

body {
    margin: 0;
    height: 100dvh;
}

.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heroContainer {
    min-height: 100dvh;
    width: 100%;
}
.heroSection {
    position: relative;
}
.blueSection {
    position: relative;
    background-color: #1a2942;
}

.blueSectionBg {
    position: absolute;
    inset: 0;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 5%;
    background-size: cover;
    background-image: url(https://img.freepik.com/free-photo/flag-qatar_1401-203.jpg?t=st=1738268504~exp=1738272104~hmac=b4ca0f77d143d6e5288f193763f7fc1e24dc3846932cc8996771be96749a2681&w=1380);
}

.blueTopSection {
    display: flex;
    position: relative;
    z-index: 10;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
    padding: 4rem;
    padding-bottom: 2.5rem;
}

.blueTopSectionPhoneIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
    background-color: #253754;
    border-radius: 1rem;
}

.blueBottomSection {
    position: relative;
    z-index: 10;
    padding: 4rem;
    padding-top: 8rem;
}

.bookingForm {
    background-color: #ffffff;
}

.bookingFormContainer {
    display: flex;
    flex-direction: column;
    padding: 3rem 3rem;
}

.bookingFormContainerTop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem;
}

.bookingFormContainerTop > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.whiteSection {
    display: flex;
    background-color: #f9f9fb;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.hero-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.checkmark {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    padding: 1.5rem;
    border-radius: 100%;
    background-color: #edf6f5;
}

.services-section {
    width: 100%;
    padding: 2rem;
}

@media (min-width: 768px) {
    .services-section {
        padding: 8rem;
    }
}

.services-section-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    padding: 0rem 1rem;
}

.services-section-header > div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.services-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 1.3rem;
    gap: 1rem;
    width: 32rem;
    border: 2px solid #efefef;
    border-radius: 1.5rem;
}

.services-card-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

@media (min-width: 768px) {
    .services-card-top {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }
}
.services-card-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.3rem;
    background-color: #f3fbf8;
    border-radius: 1rem;
}

.services-section-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem 3.3rem;
}

.law-firm-section {
    background-color: #f9f9fb;
    width: 100%;
    padding: 4rem 0rem;
    overflow: hidden;
}

.carousel-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    gap: 1rem;
    border: 1px solid #f1f1f1;
    border-radius: 1.5rem;
    background-color: #ffffff;
    margin: 0.7rem;
}

.carousel-card-image {
    padding: 0.5rem;
    border-radius: 100%;
    border: 6px solid #efefef;
}

.carousel-card-bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.carousel-card-bottom-sides {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.join-us-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    padding: 4rem 2rem;
    width: 100%;
    background-color: #1a2942;
    position: relative;
}

@media (min-width: 1024px) {
    .join-us-section {
        grid-template-columns: 1fr 1fr;
        padding: 8rem;
    }
}

.join-us-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://img.freepik.com/free-photo/portrait-happy-mature-businessman-with-clasped-hands_23-2147955358.jpg?t=st=1738403827~exp=1738407427~hmac=01064261b0b2c2b851073a3dca8874afdf49714794338ac2b5db0edabeb2fd6c&w=1380");
    opacity: 1%;
    background-size: cover;
}

.join-us-section-cards-container {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 0rem;
    gap: 1rem;
}

.join-us-section-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 22rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #253754;
}

@media (min-width: 768px) {
    .join-us-section-card {
        width: 24rem;
    }
}

.join-us-section-image {
    border-radius: 1rem;
    border: 10px solid #263853;
    opacity: 0.5;
}

.community-section {
    width: 100%;
    padding: 2rem;
    background-color: #f9f9fb;
}

@media (min-width: 768px) {
    .community-section {
        padding: 8rem;
    }
}

.community-card-container {
    display: flex;
    gap: 1rem 6rem;
    flex-wrap: wrap;
    justify-content: center;
}

.community-section-card {
    background-color: #ffffff;
    border-radius: 2rem;
    padding: 1.5rem;
    width: 100%;
    max-width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* .community-section-card-image {
    border-radius: 1rem;
    border: 2.5px solid #f9f9fb;
    object-fit: cover;
    align-self: center;

} */

.community-card-post-info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.community-card-post-content {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}
