/* :root {
  font-family: Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

body {
    margin: 0;
    height: 100dvh;
}

.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100dvh;
}

.heroContainer {
    min-height: 100dvh;
    width: 100%;
}
.heroSection {
    position: relative;
}
.blueSection {
    position: relative;
    background-color: #1a2942;
}

.blueSectionBg {
    position: absolute;
    inset: 0;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 5%;
    background-size: cover;
    background-image: url(https://img.freepik.com/free-photo/flag-qatar_1401-203.jpg?t=st=1738268504~exp=1738272104~hmac=b4ca0f77d143d6e5288f193763f7fc1e24dc3846932cc8996771be96749a2681&w=1380);
}

.blueTopSection {
    display: flex;
    position: relative;
    z-index: 10;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
    padding: 4rem;
    padding-bottom: 2.5rem;
}

.blueTopSectionPhoneIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
    background-color: #253754;
    border-radius: 1rem;
}

.blueBottomSection {
    position: relative;
    z-index: 10;
    padding: 4rem;
    padding-top: 8rem;
}

.bookingForm {
    background-color: #ffffff;
}

.whiteSection {
    background-color: #000000;
}

.bookingFormContainer {
    display: flex;
    justify-content: space-evenly;
}
